:root {
  --primary-color: #864000;
  --secondary-color: #D44000;
  --accent-color: #FF7A00;
  --text-color: #FFEFCF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: var(--primary-color);
}







